header.header
  h1 SkillUp
  nav
    ul
      li: a(href="index") Home
      li: a(href="aboutus") About Us
      li: a(href="contact") ContactUs
      li: a(href="login") Login
      li: a(href="register") Signup

