header.header
  h1 SkillUp
  button.toggle-btn ☰

.sidebar.deActive
  ul
    li
      a(href="/user/dashboard")
        i.fas.fa-tachometer-alt 
        | Dashboard
    li
      a(href="/user/courses-list")
        i.fas.fa-book-open 
        | Courses List
    li
      a(href="/user/Coding_Question")
        i.fas.fa-laptop-code 
        | Coding Question
    li
      a(href="/user/Assignments")
        i.fas.fa-clipboard-list 
        | Assignments
    li
      a(href="/user/grades") 
        i.fas.fa-graduation-cap 
        | Grades
    li
      a(href="/user/quiz") 
        i.fas.fa-question-circle 
        | Quiz 
    li
      a(href="/user/support")
        i.fas.fa-headset 
        | Support
    li
      a(href="/user/profile")
        i.fas.fa-user 
        | My Profile
    li
      a(href="/user/logout")
        i.fas.fa-sign-out-alt 
        | Logout
